.allCells {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  font-weight: lighter;
}

.gridItemOdd {
  background-color: rgb(211 211 211 / 12%);
}

.headers {
  justify-content: center;
  background-color: green;
}

.lastColumn {
  justify-content: center;
}
